PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
requests==2.31.0
python-dotenv==1.0.0
Pillow==10.1.0
reportlab==4.0.7
python-barcode==0.15.1
pydantic==2.5.0
openpyxl==3.1.0
win-inet-pton==1.0.1
pywin32==305
pyinstaller==6.1.0
